.inicio {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.btn-Login {
  background: #FF4F5A;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.651),
    inset 0px 6px 6px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  width: 70%;
  height: 40%;
  font-family: "Overpass Mono", monospace;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 13px auto;
}
.btn-google {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #385a64;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.651),
    inset 0px 6px 6px rgba(0, 0, 0, 0.26);
  border-radius: 15px;
  width: 80%;
  height: 40%;
  font-family: "Overpass Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #dac4c4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 13px auto;
}

.google-img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
p {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 2.3vh;
  text-align: center;
  color: #000000;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-align: center;
  color: #FF4F5A;
}
@media only screen and (min-device-width: 520px) and (max-device-width: 1025px) and (orientation: portrait) {
  .o{
    margin-top: 5px;
  }
  .btn-google, .btn-Login{
    width: 35vw;
    height: 4.5vh;
    font-size: 2vh;
  }
}
